html {

    font-size: 22px;
    font-family: 'Times New Roman';
}
body {
    background-color: #333;
    color: whitesmoke;
}

a {
    color: aquamarine;
}

table, tr, th, td, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}

tr:hover { 
    background-color: slategrey;
    
}
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
  
